@model IEnumerable<LiftRecorder.Models.AppUser>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appUser in Model)
            {
            <tr>
                <td>@Html.ActionLink(appUser.FirstName + " " + appUser.LastName, "LogUpdate", "User", new { id = appUser.AppUserId }, null)</td>
                <td>@appUser.Email</td>
            </tr>
        }
    </tbody>
</table>



